@font-face {
    font-family: 'Roboto-Ligh-weight-300';
    src: url('../Fonts/font/Roboto-Light.woff2') format('woff2'),
        url('../Fonts/font/Roboto-Light.woff') format('woff'),
        url('../Fonts/font/Roboto-LightItalic.eot') format('eot');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Fonts/font/Roboto-Bold.woff2') format('woff2'),
        url('../Fonts/font/Roboto-Bold.woff') format('woff'),
        url('../Fonts/font/Roboto-Bold.eot') format('eot');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Black-weight-900';
    src: url('../Fonts/font/Roboto-Black.woff2') format('woff2'),
        url('../Fonts/font/Roboto-Black.woff') format('woff'),
        url('../Fonts/font/Roboto-Black.eot') format('eot');
    font-weight: 900;
}

body {
    background-color: #f4f4f7;
    margin: 0;
}


/* ############## Стили общей обвертки #################*/
.b_wrapper {
    position: relative;
    width: 1180px;
    height: auto;
    margin: 0 auto;
    border: 1px solid transparent;
}

/* #####################################################*/


/* ############## Стили Header'a #################*/
.b_header {

    display: flex;
    align-items: center;
    /* флекс-элементы внутри хэдера .b_logo, b_navigations, b_lang_buttons выстраиваются по центру.*/
    margin: 40px 60px 92px 40px;
    /*внешние отступы позиционируют хэдер относительно внешней обвертки.*/
    width: auto;
    height: auto;
}

/* ############################################################## */

/* ############## Стили Logo #################*/
.b_logo_link {
    display: block;
    margin-right: 120px;
    /* "лого" формирует отступ от соседнего элемента .b_navigations на 120px.*/
    width: auto;
    height: auto;
}

/* ############################################################## */


/* ############## Стили меню навигации в Header'e #################*/

.b_navigations {
    display: flex;
    align-items: center;
    /*флекс-элементы .b_navigation_menu, .b_lang_buttons внутри блока b_navigations выстраиваются по центру.*/
    width: auto;
    height: auto;
}

.b_navigation_menu {
    margin-right: 220px;
    /* элемент .b_navigation_menu формирует отступ от соседнего элемента .b_lang_buttons на 227px*/
}

.b_navigation_list {
    display: flex;
    list-style: none;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0;
}

.b_navigation_el {
    margin-right: 50px;
    /*формирует отступ справа от соседнего элемента в навигации*/
}

.b_navigation_el a {
    /*формирует стили текстового содержимого элемента в навигации*/
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-weight: 300;
    color: rgba(244, 244, 247, 0.6);
    font-size: 15px;
    text-decoration: none;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.b_navigation_el:last-child {
    margin-right: 0;
    /*убирает отступ справа у последнего элемента в навигации*/
}

/* ############################################################## */


/* ############## Стили кнопок переключения языка в Header'e #################*/

.b_lang_buttons_list {
    display: flex;
    align-items: center;
    list-style: none;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0;


}

.b_lang_buttons_el {
    display: flex;
    justify-content: center;
    align-items: center;
}


.b_lang_buttons_el_link {

    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-weight: 300;
    color: rgba(244, 244, 247, 0.6);
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 10px;
    /*задает отступ от ссылки внутри li формируя нужный размер радиуса бордера, появляющегося при нажатии на ссылку*/

    border: 1px solid transparent;
    border-radius: 50%;


}

.b_lang_buttons_el_link:active,
.b_lang_buttons_el_link:focus {
    border-color: rgba(244, 244, 247, 0.3);
}


/* ############################################################## */


/* ################## Стили фона Header'a  #######################*/

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.background::after {
    content: '';
    display: inline-block;
    top: 0;
    left: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.background-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ############################################################## */

/* ################## Стили main'a  #######################*/

.b_main {
    width: auto;
    height: auto;


}

.b_main_inner_wraper {
    margin-left: 200px;
    /*стиль центрирует блок*/
    margin-right: 200px;

    /* border:1px solid fuchsia;  */
}

.b_main_inner_wraper_bot_margin {
    margin-bottom: 75px;
}

/* расстояние между .b_main_inner_wraper и .b_nav_drop_a_line */


.b_main_title_big {
    margin-bottom: 30px;

    /* border: 1px solid  brown; */
}

.b_main_title_big span {
    color: #f4f4f7;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;

}



.b_main_title_small span {
    color: #f4f4f7;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.b_nav_drop_a_line {
    position: relative;
    display: block;
    width: 580px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    margin-bottom: 100px;
}

.b_nav_drop_a_line span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-weight: 300;
    color: #f4f4f7;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.b_nav_drop_a_line::after {
    content: url(../img/arrow.svg);
    position: absolute;

    right: 52px;
    bottom: 25px;

}

.second_screen {
    /* border: 4px solid khaki; */
    padding-bottom: 137px;
    margin-bottom: 100px;
}

.second_screen_bgc {
    background-color: #ffffff;

}

.second_screen_first_title {
    margin-top: 90px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
}

.second_screen_second_title {
    width: auto;
    height: auto;
    margin-bottom: 85px;
}

.second_screen_first_title span {
    color: 2d2d42;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

.second_screen_second_title span {
    color: 2d2d42;
    padding-top: 30px;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
}

.expertice {

    margin-bottom: 70px;
    margin-left: 200px;
    margin-right: 155px;

    /* border:1px solid firebrick; */
}

.expertice ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    /* border: 1px solid forestgreen; */
}

.expertice_items {
    color: #2d2d42;
    font-family: Roboto-Bold, serif, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
}

.expertice ul li {
    display: block;
    height: 210px;
    width: 240px;
    margin-right: 80px;
    /* border:1px solid royalblue; */
}

.expertice ul li:last-child {
    margin-right: 0px;
}

.expertice_icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.ic_project {
    position: relative;
    background-color: #63c9e0;
}

.ic_project::after {
    content: url(../img/expertice_icons/1/ic-project.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ic_hire {
    position: relative;
    background-color: #f47e3d;
}

.ic_hire::after {
    content: url(../img/expertice_icons/2/ic-hire.svg);
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.ic_digital {
    position: relative;
    background-color: #d04b9b
}

.ic_digital::after {
    content: url(../img/expertice_icons/3/ic-digital.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.What_we_do_title_h2 {
    color: #c0c6c8;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
    margin-top: 0;
    margin-bottom: 75px;
    padding: 0;
}



.What-we-do__wrap-list {

    display: flex;
    margin-right: 100px;
    margin-left: 140px;

}

.b-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 440px;
}

.b-list li {
    color: #2d2d42;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;

    position: relative;
    padding-left: 60px;
}

.b-list li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    /* transform: translateY(-50%); */
    background-color: #64cae1;
    width: 30px;
    height: 1px;
}

.What_we_do_list_2 {
    margin-left: 60px;
}

.what-we-do-list-item {
    margin-bottom: 30px;
}

.what-we-do-list-item:first-child {
    margin-bottom: 20px;
}

/* #################### Конец  We combine ######################## */

.Our_work_text_wraper {
    margin-left: 200px;
    margin-right: 130px;
    margin-bottom: 90px;
}

.Our_work_text_wraper span {
    margin-bottom: 90px;

    color: #2d2d42;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.our_work_title_h2 {
    margin-top: 0;
    margin-bottom: 25px;

    color: #2d2d42;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

.birdieeyes_photo {
    position: relative;
    width: 1180px;
    height: 600px;
    margin-bottom: 20px;
}

.birdieeyes_text {
    position: absolute;
    left: 200px;
    bottom: 20px;
    height: 380px;
    width: 380px;
    background-color: #64cae1;
    margin: 0;
    padding: 0;
}

.birdieeyes_text h3 {
    color: #f4f4f7;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin: 41px 40px 39px 40px;
}

.birdieeyes_text p {
    color: #f4f4f7;
    width: 300px;
    height: 240px;
    overflow: hidden;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;

    margin: 0 40px 40px 40px;
}

.Our_Work_photo_sub_gallery {
    display: flex;
    margin-bottom: 70px;
}

.Our_Work_photo_sub_gallery:last-child {
    margin-bottom: 100px;
}

.Our_Work_card_wraper_1 {
    margin-right: 20px;
}

.Our_Work_text_1 h3,
.Our_Work_text_2 h3 {
    color: #2d2d42;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;

    margin-top: 40px;
    margin-bottom: 30px;

}

.Our_Work_text_1 p,
.Our_Work_text_2 p {
    color: #2d2d42;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    width: 440px;
    height: auto;
    margin: 0;

}


/* ########################################################*/


.Our_team {
    position: relative;
    margin-bottom: 100px;
}

.Our_team_text {
    position: absolute;
    right: 200px;
    bottom: 20px;
    display: block;
    width: 380px;
    height: 380px;
    background-color: #f4f4f7;
    padding: 0;
}

.Our_team_text p {

    padding: 0;
    margin: 0 40px 110px 40px;
    color: #2d2d42;

    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
}

.Our_team_text h3 {

    padding: 0;
    margin: 40px 40px 50px 40px;
    color: #2d2d42;

    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
}


/* ############################## Inside FrontByte ################################# */

.Inside_frontbyte {
    width: 980px;
    margin-left: 195px;

    /* border: 1px solid red; */
}

.Inside_frontbyte h3 {
    margin: 0 0 25px 0;

    color: #2d2d42;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
}

.Inside_frontbyte p {

    color: #2d2d42;
    padding: 0;
    margin: 0 0 90px 0;
    width: 980px;
    height: auto;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}


/* ################################################################################# */

.press_about_us {
    position: relative;

    width: 980px;
    margin-left: 195px;
    margin-bottom: 80px;
}

.press_about_us_text {
    position: absolute;
    left: -200px;
    bottom: 0;
    background-color: #f4f4f7;
    width: 400px;
    height: 380px;
    /* border: 1px solid red; */

}

.press_about_us_text h3 {

    color: #2d2d42;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin: 40px 0 30px 0;
    padding: 0;

}

.press_about_us_text p {

    color: #2d2d42;
    margin: 0 50px 55px 0;

    padding: 0;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.b-img_tc {
    width: 50px;
    height: 26px;
    margin: 0 0 48px 0;
}

.tabs ul {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 40px 0 0;
}

.tabs ul li {

    display: block;
    background-color: #64cae1;
    width: 65px;
    height: 1px;
    margin-right: 9px;
}

.latest_news {
    margin-bottom: 100px;
}

.latest_news h3 {
    color: #2d2d42;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.news_block {
    display: flex;
}

.news {
    width: 280px;
    height: auto;
    padding: 0;
    margin-right: 120px;
}


.news:last-child {
    margin-right: 0;
}

.news a {
    text-decoration: none;
    color: #2d2d42;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.news time {
    color: #93a4a9;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;

    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.news p {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.b-footer {

    position: relative;
    background-color: black;
    width: auto;
    height: 720px;
}

.b-footer-map {
    width: 902.8px;
    height: 440px;
    position: absolute;
    bottom: 100px;
    right: 28.3px;
}

.dot-norvay {
    position: absolute;
    top: 257px;
    right: 460px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #64cae1;
}

.dot_belarus {
    position: absolute;
    top: 282px;
    right: 386px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d04b9b;
}

.b-footer-wrap {
    display: flex;


    margin-left: 200px;
    margin-right: 102px;
    margin-bottom: 98px;
    width: auto;
    height: auto;

}

.norway {
    height: 540px;
    width: 380px;
}

.contacts {
    margin-top: 100px;
}

.contacts h3 {
    margin: 0 0 75px 0;
    padding: 0;
    color: #f4f4f7;
    font-family: Roboto-Black-weight-900, serif, sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
}

.loactions_description span {
    margin-bottom: 90px;
    color: #f4f4f7;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}



.norway_contacts h3 {
    color: #f4f4f7;
    font-family: Roboto-Bold;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.norway_adress p {
    color: #f4f4f7;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.norway_adress p {
    text-decoration: none;
    color: #f4f4f7;
}


.belarus {
    height: 540px;
    width: 380px;
}

.social_media {
    margin: 120px 0 200px 0;

}

.belarus_contacts h3 {
    color: #f4f4f7;
    margin-bottom: 20px;
}

.belarus_adress {
    color: #f4f4f7;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.mail_color {
    color: #64cae1;
}

.tel_color {
    color: #f4f4f7;
}

.b_footer_drop_a_line {
    position: relative;
    display: block;
    background-color: #64cae1;
    width: 580px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.b_footer_drop_a_line span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-weight: 300;
    color: #f4f4f7;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.b_footer_drop_a_line::after {
    content: url(../img/arrow.svg);
    position: absolute;
    right: 52px;
    bottom: 25px;
}

.bottom_wraper {
    display: flex;
}

.copyright span {
    display: block;
    margin: 25px 0 25px 118px;
    color: #f4f4f7;
    opacity: 0.4;
    font-family: Roboto-Ligh-weight-300, serif, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}