
<?xml version="1.0" standalone="no"?>
<svg width="50" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 260">
 <rect x="0" y="0" width="250" height="86" fill="green"/>
 <rect x="83" y="0" width="86" height="260" fill="green"/>
 <rect x="249" y="86" width="86" height="174" fill="green"/>
 <rect x="333" y="0" width="160" height="86" fill="green"/>
 <rect x="250" y="173" width="250" height="86" fill="green"/>
</svg>